/* Project Types*/
li.proj-app{
	list-style-image: url(../img/proj-app-16.png);
}
li.proj-plugin{
	list-style-image: url(../img/proj-plugin-16.png); 
}
li.proj-doc{
	list-style-image: url(../img/proj-doc-16.png); 
}
li.proj-lib{
	list-style-image: url(../img/proj-lib-16.png); 
}
li.proj-system{
	list-style-image: url(../img/proj-system-16.png); 
}

/* Technology Reference */
span.tech-asp{
	background-image: url(../img/tech-asp-16.png); 
	background-repeat: no-repeat;
	padding-left: 18px; 
}
span.tech-bash{
	background-image: url(../img/tech-bash-16.png); 
	background-repeat: no-repeat;
	padding-left: 18px; 
}
span.tech-csharp{
	background-image: url(../img/tech-csharp-16.png); 
	background-repeat: no-repeat;
	padding-left: 18px; 
}
span.tech-grails{
	background-image: url(../img/tech-grails-16.png); 
	background-repeat: no-repeat;
	padding-left: 18px; 
}
span.tech-jsf{
	background-image: url(../img/tech-jsf-16.png); 
	background-repeat: no-repeat;
	padding-left: 18px; 
}
span.tech-msaccess{
	background-image: url(../img/tech-msaccess-16.png); padding-left: 18px; 
	background-repeat: no-repeat;
	padding-left: 18px; 
}
span.tech-python{
	background-image: url(../img/tech-python-16.png); 
	background-repeat: no-repeat;
	padding-left: 18px; 
}
span.tech-tsql{
	background-image: url(../img/tech-tsql-16.png); 
	background-repeat: no-repeat;
	padding-left: 18px; 
}
span.tech-vbscript{
	background-image: url(../img/tech-vbscript-16.png); 
	background-repeat: no-repeat;
	padding-left: 18px; 
}
span.tech-vb{
	background-image: url(../img/tech-vb6-16.png); 
	background-repeat: no-repeat;
	padding-left: 18px; 
}

/* Database references */
span.db-mssql{
	background-image: url(../img/db-mssql-16.png); padding-left: 18px; 
	background-repeat: no-repeat;
	padding-left: 18px; 
}
span.db-mysql{
	background-image: url(../img/db-mysql-16.png); 
	background-repeat: no-repeat;
	padding-left: 18px; 
}
span.db-oracle{
	background-image: url(../img/db-oracle-16.png); 
	background-repeat: no-repeat;
	padding-left: 18px; 
}
span.db-pgsql{
	background-image: url(../img/db-pgsql-16.png); 
	background-repeat: no-repeat;
	padding-left: 18px; 
}

/* Project Reference */
.ref-opensource{
	background-image: url(../img/open-source-16.png); 
	background-repeat: no-repeat;
	padding-left: 18px; 
}
.ref-github{
	background-image: url(../img/colab-github-16.png); 
	background-repeat: no-repeat;
	padding-left: 18px; 
}

